main {
  padding: 1rem;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  padding: 1rem;
}
.product {
  border: 1px solid #404040;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 440px;
}
.product-info {
  padding: 1rem;
}
.rating span {
  color: #ffc000;
}
.img-lg{
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
